.App { user-select: none; }


.sky {
  background: #246e89 url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/641/bg_sky.jpg") repeat-x  100% 100% / auto 100%;
  top: 0;
  position: absolute;
  left: 0;
  height: 50vh;
  width: 100%;
}
.earth{
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/641/bg_earth.jpg');
  bottom: 0;
  position: absolute;
  height: 50vh;
  width: 100%;
}
#queen{
  position: absolute;
  top: 0; left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 80%;
  max-width: 450px; /*height: 783px / 2*/
  z-index: 1;
}
#queen:before {
  content: " ";
    display: block;
    padding-top: 87%;

}
#queen image{
  position: absolute;
  top: 0; left: 0;
  width: 100%;  
}
img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.foreground{
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  z-index: 1 ;
 
}

#foreground1, #foreground2 { z-index: 1 ;}

#foreground2, #background2 {
  transform: translateX(100%);
}
#palmtree{
  top: 0;
  left: 10%;
}
.background{
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}
#palmtreebackground{
  top: -15%; 
  left: 40%    

}
#palm2 {
  top: -15%; left: 90%    
}

#knight{
  top: 0%;
  left: 70%;
}
#pawnsmall{
  top: 10%; left: 15%   
}
#rooksmall{
  top: 30%; left: 75%
}
#rook{
  top: 10%; left: 80%
}
#pawnupright{
  top: 30%; left: 75%;
}
#bush {
  top: 55%; left: 20%    
}
